# Prerequisite

Download pandas library by running the following code.

In [27]:
!pip install pandas

Requirement already satisfied: pandas in /Users/daniellavuletic/miniconda3/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/daniellavuletic/miniconda3/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in /Users/daniellavuletic/miniconda3/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/daniellavuletic/miniconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/daniellavuletic/miniconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

# Exploratory data analysis (EDA)

You will learn how to systematically approach investigating an unknown dataset while maintaining a creative and open mind to search for insights.

## Context
Airbnb is an online marketplace for people to rent places to stay. 

Airbnb has rolled out a new service to help listers set prices. Airbnb makes a percentage commission off of the listings, so they are incentivized to help listers price optimally; that is, at the maximum possible point where they will still close a deal. You are an Airbnb consultant helping with this new pricing service.

## Goal

We are going to focus on a question: which features are helpful for finding out the appropriate listing price?

## Load Data

In [28]:
import pandas as pd

In [29]:
listings = pd.read_csv('data/airbnb_nyc.csv', delimiter=',')

Please check out data dictionary [here](https://docs.google.com/spreadsheets/d/1iWCNJcSutYqpULSQHlNyGInUvHg2BoUGoNRIGa6Szc4/edit#gid=982310896)

## Activities

**Q:** Can you view/print the data?

In [8]:
listings

,id,name,summary,description,experiences_offered,neighborhood_overview,transit,house_rules,host_id,host_since,...,hot_tub_sauna_or_pool,internet,long_term_stays,pets_allowed,private_entrance,secure,self_check_in,smoking_allowed,accessible,event_suitable
0,2539,Clean & quiet apt home by the park,Renovated apt home in elevator building.,Renovated apt home in elevator building. Spaci...,none,Close to Prospect Park and Historic Ditmas Park,Very close to F and G trains and Express bus i...,-The security and comfort of all our guests is...,2787,39698.0,...,-1,1,1,-1,-1,1,1,-1,1,1
1,3647,THE VILLAGE OF HARLEM....NEW YORK !,NaN,WELCOME TO OUR INTERNATIONAL URBAN COMMUNITY T...,none,NaN,NaN,Upon arrival please have a legibile copy of yo...,4632,39777.0,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1
2,7750,Huge 2 BR Upper East Cental Park,NaN,Large Furnished 2BR one block to Central Park...,none,NaN,NaN,NaN,17985,39953.0,...,-1,1,-1,1,-1,-1,-1,-1,-1,-1
3,8505,Sunny Bedroom Across Prospect Park,Just renovated sun drenched bedroom in a quiet...,Just renovated sun drenched bedroom in a quiet...,none,Quiet and beautiful Windsor Terrace. The apart...,Ten minutes walk to the 15th sheet F&G train s...,- No shoes in the house - Quiet hours after 11...,25326,40006.0,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1
4,8700,Magnifique Suite au N de Manhattan - vue Cloitres,Suite de 20 m2 a 5 min des 2 lignes de metro a...,Suite de 20 m2 a 5 min des 2 lignes de metro a...,none,NaN,Metro 1 et A,NaN,26394,40014.0,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30174,36484363,QUIT PRIVATE HOUSE,THE PUBLIC TRANSPORTATION: THE TRAIN STATION I...,THE PUBLIC TRANSPORTATION: THE TRAIN STATION I...,none,QUIT QUIT QUIT !!!!!!,TRAIN STATION 5 MINUTE UBER OR 15 MINUTE WALK ...,"Guest should not wear shoes, no smoking mariju...",107716952,42722.0,...,-1,1,-1,-1,-1,-1,1,-1,-1,1
30175,36484665,Charming one bedroom - newly renovated rowhouse,"This one bedroom in a large, newly renovated r...","This one bedroom in a large, newly renovated r...",none,"There's an endless number of new restaurants, ...",We are three blocks from the G subway and abou...,NaN,8232441,41504.0,...,-1,1,-1,-1,1,-1,1,-1,-1,-1
30176,36485057,Affordable room in Bushwick/East Williamsburg,NaN,NaN,none,NaN,NaN,NaN,6570630,41419.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
30177,36485609,43rd St. Time Square-cozy single bed,NaN,NaN,none,NaN,NaN,NaN,30985759,42104.0,...,-1,1,-1,-1,-1,-1,1,-1,-1,-1
30178,36487245,Trendy duplex in the very heart of Hell's Kitchen,Private room in a nice duplex in the very hear...,Private room in a nice duplex in the very hear...,none,NaN,NaN,NaN,68119814,42480.0,...,-1,1,-1,-1,-1,-1,-1,1,-1,1

**Q:** How large is this data?

In [9]:
listings.shape

(30179, 81)

**Q:** Tell me the types of each variables using ```info()``` method?

In [10]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30179 entries, 0 to 30178
Data columns (total 81 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            30179 non-null  int64
 1   name                                          30166 non-null  object
 2   summary                                       28961 non-null  object
 3   description                                   29575 non-null  object
 4   experiences_offered                           30179 non-null  object
 5   neighborhood_overview                         18113 non-null  object
 6   transit                                       18190 non-null  object
 7   house_rules                                   16623 non-null  object
 8   host_id                                       30179 non-null  int64
 9   host_since                                    30170 non-null  float64
 10  host_response_time                            17082 non-null  object
 11  host_response_rate                            17082 non-null  float64
 12  host_is_superhost                             30170 non-null  float64
 13  host_listings_count                           30170 non-null  float64
 14  host_identity_verified                        30170 non-null  float64
 15  street                                        30179 non-null  object
 16  neighbourhood                                 30170 non-null  object
 17  latitude                                      30179 non-null  float64
 18  longitude                                     30179 non-null  float64
 19  property_type                                 30179 non-null  object
 20  room_type                                     30179 non-null  object
 21  accommodates                                  30179 non-null  int64
 22  bathrooms                                     30179 non-null  float64
 23  bedrooms                                      30179 non-null  int64
 24  beds                                          30179 non-null  int64
 25  bed_type                                      30179 non-null  object
 26  amenities                                     30179 non-null  object
 27  price                                         30179 non-null  int64
 28  guests_included                               30179 non-null  int64
 29  extra_people                                  30179 non-null  int64
 30  minimum_nights                                30179 non-null  int64
 31  calendar_updated                              30179 non-null  object
 32  has_availability                              30179 non-null  int64
 33  availability_30                               30179 non-null  int64
 34  availability_60                               30179 non-null  int64
 35  availability_90                               30179 non-null  int64
 36  availability_365                              30179 non-null  int64
 37  number_of_reviews                             30179 non-null  int64
 38  number_of_reviews_ltm                         30179 non-null  int64
 39  review_scores_rating                          21094 non-null  float64
 40  review_scores_accuracy                        21068 non-null  float64
 41  review_scores_cleanliness                     21078 non-null  float64
 42  review_scores_checkin                         21050 non-null  float64
 43  review_scores_communication                   21069 non-null  float64
 44  review_scores_location                        21047 non-null  float64
 45  review_scores_value                           21049 non-null  float64
 46  instant_bookable                              30179 non-null  int64
 47  cancellation_policy                           30179 non-null  object
 48  calculated_host_listings_count                30179 non-null  int64
 49  calculated_host_listings_count_entire_homes   30179 non-null  int64
 50  calculated_host_listings_count_private_rooms  30179 non-null  int64
 51  calculated_host_listings_count_shared_rooms   30179 non-null  int64
 52  reviews_per_month                             21919 non-null  float64
 53  check_in_24h                                  30179 non-null  int64
 54  air_conditioning                              30179 non-null  int64
 55  high_end_electronics                          30179 non-null  int64
 56  bbq                                           30179 non-null  int64
 57  balcony                                       30179 non-null  int64
 58  nature_and_views                              30179 non-null  int64
 59  bed_linen                                     30179 non-null  int64
 60  breakfast                                     30179 non-null  int64
 61  tv                                            30179 non-null  int64
 62  coffee_machine                                30179 non-null  int64
 63  cooking_basics                                30179 non-null  int64
 64  white_goods                                   30179 non-null  int64
 65  elevator                                      30179 non-null  int64
 66  gym                                           30179 non-null  int64
 67  child_friendly                                30179 non-null  int64
 68  parking                                       30179 non-null  int64
 69  outdoor_space                                 30179 non-null  int64
 70  host_greeting                                 30179 non-null  int64
 71  hot_tub_sauna_or_pool                         30179 non-null  int64
 72  internet                                      30179 non-null  int64
 73  long_term_stays                               30179 non-null  int64
 74  pets_allowed                                  30179 non-null  int64
 75  private_entrance                              30179 non-null  int64
 76  secure                                        30179 non-null  int64
 77  self_check_in                                 30179 non-null  int64
 78  smoking_allowed                               30179 non-null  int64
 79  accessible                                    30179 non-null  int64
 80  event_suitable                                30179 non-null  int64
dtypes: float64(16), int64(49), object(16)
memory usage: 18.7+ MB

**Q:** Can you list all column names?

In [12]:
listings.columns

Index(['id', 'name', 'summary', 'description', 'experiences_offered',
       'neighborhood_overview', 'transit', 'house_rules', 'host_id',
       'host_since', 'host_response_time', 'host_response_rate',
       'host_is_superhost', 'host_listings_count', 'host_identity_verified',
       'street', 'neighbourhood', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds',
       'bed_type', 'amenities', 'price', 'guests_included', 'extra_people',
       'minimum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'cancellation_policy',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'check_in_24h', 'air_conditioning', 'high_end_electronics', 'bbq',
       'balcony', 'nature_and_views', 'bed_linen', 'breakfast', 'tv',
       'coffee_machine', 'cooking_basics', 'white_goods', 'elevator', 'gym',
       'child_friendly', 'parking', 'outdoor_space', 'host_greeting',
       'hot_tub_sauna_or_pool', 'internet', 'long_term_stays', 'pets_allowed',
       'private_entrance', 'secure', 'self_check_in', 'smoking_allowed',
       'accessible', 'event_suitable'],
      dtype='object')

**Q:** Can you print the columns named ```number_of_reviews```, ```number_of_reviews_ltm```, ```review_scores_rating``` and ```review_scores_accuracy``` from rows 10000:10020?

In [14]:
listings.loc[10000:10020, ['number_of_reviews', 'number_of_reviews_ltm', 'review_scores_rating', 'review_scores_accuracy']]

,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_accuracy
10000,10,0,100.0,10.0
10001,2,0,80.0,4.0
10002,3,1,100.0,10.0
10003,18,3,96.0,10.0
10004,0,0,NaN,NaN
10005,11,0,96.0,10.0
10006,12,2,95.0,10.0
10007,5,1,96.0,10.0
10008,13,0,98.0,10.0
10009,7,2,89.0,8.0
10010,7,5,86.0,8.0
10011,4,4,100.0,10.0
10012,11,11,100.0,10.0
10013,3,0,100.0,10.0
10014,1,0,100.0,10.0
10015,5,1,88.0,9.0
10016,1,1,100.0,10.0
10017,14,0,100.0,10.0
10018,2,0,90.0,10.0
10019,1,0,100.0,10.0
10020,1,0,NaN,NaN

**Q:** Can you filter/output the listings which has more than 10 reviews (```number_of_reviews```>10) AND has lower than 50 ratings (```review_scores_rating```<50)?

In [16]:
listings[(listings['number_of_reviews'] >10) & (listings['review_scores_rating'] <50)]

Empty DataFrame
Columns: [id, name, summary, description, experiences_offered, neighborhood_overview, transit, house_rules, host_id, host_since, host_response_time, host_response_rate, host_is_superhost, host_listings_count, host_identity_verified, street, neighbourhood, latitude, longitude, property_type, room_type, accommodates, bathrooms, bedrooms, beds, bed_type, amenities, price, guests_included, extra_people, minimum_nights, calendar_updated, has_availability, availability_30, availability_60, availability_90, availability_365, number_of_reviews, number_of_reviews_ltm, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, instant_bookable, cancellation_policy, calculated_host_listings_count, calculated_host_listings_count_entire_homes, calculated_host_listings_count_private_rooms, calculated_host_listings_count_shared_rooms, reviews_per_month, check_in_24h, air_conditioning, high_end_electronics, bbq, balcony, nature_and_views, bed_linen, breakfast, tv, coffee_machine, cooking_basics, white_goods, elevator, gym, child_friendly, parking, outdoor_space, host_greeting, hot_tub_sauna_or_pool, internet, long_term_stays, pets_allowed, private_entrance, secure, self_check_in, smoking_allowed, accessible, event_suitable]
Index: []

[0 rows x 81 columns]

**Q:** Can you set index to the ```listings['id']```?

In [31]:
listings = listings.set_index('id')

KeyError: "None of ['id'] are in the columns"

**Q:** Can you tabulate ```self_check_in``` function?

Hint: use ```value_counts()``` method.

In [32]:
listings.self_check_in.value_counts()

-1    24878
 1     5301
Name: self_check_in, dtype: int64

**Q:** Which features have NaN variables? 

Hint: You can use ```any()``` function :)

In [33]:
listings.isna().any

<bound method NDFrame._add_numeric_operations.<locals>.any of            name  summary  description  experiences_offered  \
id
2539      False    False        False                False
3647      False     True        False                False
7750      False     True        False                False
8505      False    False        False                False
8700      False    False        False                False
...         ...      ...          ...                  ...
36484363  False    False        False                False
36484665  False    False        False                False
36485057  False     True         True                False
36485609  False     True         True                False
36487245  False    False        False                False

          neighborhood_overview  transit  house_rules  host_id  host_since  \
id
2539                      False    False        False    False       False
3647                       True     True        False    False       False
7750                       True     True         True    False       False
8505                      False    False        False    False       False
8700                       True    False         True    False       False
...                         ...      ...          ...      ...         ...
36484363                  False    False        False    False       False
36484665                  False    False         True    False       False
36485057                   True     True         True    False       False
36485609                   True     True         True    False       False
36487245                   True     True         True    False       False

          host_response_time  ...  hot_tub_sauna_or_pool  internet  \
id                            ...
2539                   False  ...                  False     False
3647                   False  ...                  False     False
7750                   False  ...                  False     False
8505                   False  ...                  False     False
8700                    True  ...                  False     False
...                      ...  ...                    ...       ...
36484363               False  ...                  False     False
36484665               False  ...                  False     False
36485057               False  ...                  False     False
36485609               False  ...                  False     False
36487245                True  ...                  False     False

          long_term_stays  pets_allowed  private_entrance  secure  \
id
2539                False         False             False   False
3647                False         False             False   False
7750                False         False             False   False
8505                False         False             False   False
8700                False         False             False   False
...                   ...           ...               ...     ...
36484363            False         False             False   False
36484665            False         False             False   False
36485057            False         False             False   False
36485609            False         False             False   False
36487245            False         False             False   False

          self_check_in  smoking_allowed  accessible  event_suitable
id
2539              False            False       False           False
3647              False            False       False           False
7750              False            False       False           False
8505              False            False       False           False
8700              False            False       False           False
...                 ...              ...         ...             ...
36484363          False            False       False           False
36484665          False            False       False           False
36485057          False            False       False           False
36485609          False            False       False           False
36487245          False            False       False           False

[30179 rows x 80 columns]>

**Q:** List your insights/takeaways from exploring this data.

Please, feel free to explore more! Bonus points for adding more questinos :)

## References

"New York", Inside Airbnb, http://insideairbnb.com/get-the-data.html